*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #090979;
}

.container {
    background: linear-gradient(#020024, #090979, #00d4ff);
    height: 100%;
    min-height: 100vh;
    padding: 10px;
}

.tracker {
    background-color: white;
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border: 10px;
}

.tracker {
    align-items: center;
    display: flex;
    display: grid;
}

 .tracker h2 img {
    width: 30px;
    margin-left: 10px;
 }
 .enter{
    background-color: #090979;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 14px 40px;;
    margin: 10px;
    font-size: 16px;
 }

.location {
    display: flex;
}

h2{
    text-align: center;
}

.details {
    display: flex;
}

.details, .location {
    font-size: 25px;
}

.enter:hover {
    background-color:#020024;
    color: #fff;
    cursor: pointer;
}

#date-input {
    margin-right: 20px;
}

.details, input {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table {
    text-align: center;
}